@model Assignment2_1.Models.Customer
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Details</h1>
<d1>
    <dt>Customer Id</dt>
    <dd>@Model.CustomerId</dd>

    <dt>Customer Name</dt>
    <dd>@Model.Name</dd>

    <dt>Customer EmailId</dt>
    <dd>@Model.Email</dd>

    <dt>Customer Phone No</dt>
    <dd>@Model.Phone_No</dd>

    <dt>Customer City</dt>
    <dd>@Model.City</dd>
</d1>

